* {
  max-width:960px;
}

header{
  text-align: center;
  background-color: pink;
}

section.column-1 {
  display: inline-block;
  max-width:50%;
  background-color: lightgreen;
}

section.column-2 {
  display: inline-block;
  max-width:50%;
  background-color: lightblue;
  vertical-align: top;
}



